In [36]:
import pandas as pd
import numpy as np
import os
pd.options.display.max_columns = 999
import os.path
from math import log2

In [4]:
os.chdir(r'C:\Users\Inhen\Desktop\stormdata\csv')

In [22]:
file_ls=os.listdir(r'C:\Users\Inhen\Desktop\stormdata\csv')

In [29]:
df0=pd.read_csv(file_ls[0]).values

for csvname in file_ls:
    df1=pd.read_csv(csvname).values
    df0=np.vstack((df0,df1))

C:\Software\PythonAnaconda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Software\PythonAnaconda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Software\PythonAnaconda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
full_df=pd.DataFrame(df0)

In [41]:
full_df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195509,22,1610,195509,22,1610,NaN,10063685,MISSOURI,29,...,0,NaN,NaN,38.7,-94.08,NaN,NaN,NaN,NaN,PUB
1,195505,28,800,195505,28,800,NaN,10039446,MICHIGAN,26,...,0,NaN,NaN,42.12,-85.63,42.42,-85.05,NaN,NaN,PUB
2,195506,10,1500,195506,10,1500,NaN,9976778,ALABAMA,1,...,0,NaN,NaN,33,-86.78,NaN,NaN,NaN,NaN,PUB
3,195507,19,1330,195507,19,1330,NaN,9976779,ALABAMA,1,...,0,NaN,NaN,30.5,-87.9,NaN,NaN,NaN,NaN,PUB
4,195507,28,1500,195507,28,1500,NaN,9976780,ALABAMA,1,...,0,NaN,NaN,33.58,-86.78,NaN,NaN,NaN,NaN,PUB

In [35]:
df2.columns

'BEGIN_YEARMONTH'

In [39]:
full_df.rename(columns={i:df2.columns[i] for i in range(len(df2.columns))}, 
                 inplace=True)

In [40]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464121 entries, 0 to 1464120
Data columns (total 51 columns):
BEGIN_YEARMONTH       1464121 non-null object
BEGIN_DAY             1464121 non-null object
BEGIN_TIME            1464121 non-null object
END_YEARMONTH         1464121 non-null object
END_DAY               1464121 non-null object
END_TIME              1464121 non-null object
EPISODE_ID            1239697 non-null object
EVENT_ID              1464121 non-null object
STATE                 1464120 non-null object
STATE_FIPS            1464120 non-null object
YEAR                  1464121 non-null object
MONTH_NAME            1464121 non-null object
EVENT_TYPE            1464121 non-null object
CZ_TYPE               1464121 non-null object
CZ_FIPS               1464121 non-null object
CZ_NAME               1462536 non-null object
WFO                   1339700 non-null object
BEGIN_DATE_TIME       1464121 non-null object
CZ_TIMEZONE           1464121 non-null object
END_DATE_TIME         1464121 non-null object
INJURIES_DIRECT       1464121 non-null object
INJURIES_INDIRECT     1464121 non-null object
DEATHS_DIRECT         1464121 non-null object
DEATHS_INDIRECT       1464121 non-null object
DAMAGE_PROPERTY       967872 non-null object
DAMAGE_CROPS          855624 non-null object
SOURCE                1126071 non-null object
MAGNITUDE             863168 non-null object
MAGNITUDE_TYPE        333432 non-null object
FLOOD_CAUSE           67035 non-null object
CATEGORY              266 non-null object
TOR_F_SCALE           64046 non-null object
TOR_LENGTH            254747 non-null object
TOR_WIDTH             254747 non-null object
TOR_OTHER_WFO         1950 non-null object
TOR_OTHER_CZ_STATE    1950 non-null object
TOR_OTHER_CZ_FIPS     1950 non-null object
TOR_OTHER_CZ_NAME     1950 non-null object
BEGIN_RANGE           785917 non-null object
BEGIN_AZIMUTH         575012 non-null object
BEGIN_LOCATION        825920 non-null object
END_RANGE             785540 non-null object
END_AZIMUTH           561931 non-null object
END_LOCATION          786564 non-null object
BEGIN_LAT             902482 non-null object
BEGIN_LON             902482 non-null object
END_LAT               732064 non-null object
END_LON               732065 non-null object
EPISODE_NARRATIVE     992828 non-null object
EVENT_NARRATIVE       674404 non-null object
DATA_SOURCE           1464118 non-null object
dtypes: object(51)
memory usage: 569.7+ MB

In [42]:
full_df.to_csv('1955_2017.csv')

In [5]:
full_df=pd.read_csv('1955_2017.csv')

C:\Software\PythonAnaconda\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (17,26,27,29,30,35,36,38,40,41,43,44,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
full_df.head()

,Unnamed: 0,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,YEAR,MONTH_NAME,EVENT_TYPE,CZ_TYPE,CZ_FIPS,CZ_NAME,WFO,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,FLOOD_CAUSE,CATEGORY,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_WFO,TOR_OTHER_CZ_STATE,TOR_OTHER_CZ_FIPS,TOR_OTHER_CZ_NAME,BEGIN_RANGE,BEGIN_AZIMUTH,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE,year
0,0,195509,22,1610,195509,22,1610,NaN,10063685,MISSOURI,29.0,1955,September,Hail,C,37,CASS,NaN,22-SEP-55 16:10:00,CST,22-SEP-55 16:10:00,0,0,0,0,0,0,NaN,1.50,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,38.70,-94.08,NaN,NaN,NaN,NaN,PUB,1955
1,1,195505,28,800,195505,28,800,NaN,10039446,MICHIGAN,26.0,1955,May,Tornado,C,77,KALAMAZOO,NaN,28-MAY-55 08:00:00,CST,28-MAY-55 08:00:00,0,0,0,0,250K,0,NaN,0.00,NaN,NaN,NaN,F2,36.2,100.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,42.12,-85.63,42.42,-85.05,NaN,NaN,PUB,1955
2,2,195506,10,1500,195506,10,1500,NaN,9976778,ALABAMA,1.0,1955,June,Thunderstorm Wind,C,21,CHILTON,NaN,10-JUN-55 15:00:00,CST,10-JUN-55 15:00:00,0,0,0,0,0,0,NaN,0.00,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,33.00,-86.78,NaN,NaN,NaN,NaN,PUB,1955
3,3,195507,19,1330,195507,19,1330,NaN,9976779,ALABAMA,1.0,1955,July,Hail,C,3,BALDWIN,NaN,19-JUL-55 13:30:00,CST,19-JUL-55 13:30:00,0,0,0,0,0,0,NaN,0.75,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,30.50,-87.90,NaN,NaN,NaN,NaN,PUB,1955
4,4,195507,28,1500,195507,28,1500,NaN,9976780,ALABAMA,1.0,1955,July,Thunderstorm Wind,C,73,JEFFERSON,NaN,28-JUL-55 15:00:00,CST,28-JUL-55 15:00:00,0,0,0,0,0,0,NaN,52.00,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,33.58,-86.78,NaN,NaN,NaN,NaN,PUB,1955

In [8]:
full_df["year"]=full_df["BEGIN_YEARMONTH"].apply(lambda x:int(x/100))

In [ ]:
full_df[""]

In [81]:
full_df.groupby(["EVENT_TYPE","year"]).sum()

                            Unnamed: 0  BEGIN_YEARMONTH  BEGIN_DAY  \
EVENT_TYPE            year
Astronomical Low Tide 1997     1484602           998515         30
                      2007    49136606         12242844        686
                      2008    38173669          8835367        549
                      2009    38194978          8237194        604
                      2010    39736393          8040133        502
                      2011    29811415          5630861        536
                      2012    57930339         10261494       1161
                      2013    33937204          5636549        441
                      2014    78008665         12486912        858
                      2015   105367092         16120197       1171
                      2016    63552750          9273987        719
                      2017    18462615          2622142        267
Avalanche             1996     1692596          1397237        101
                      1997     1192091           798819         27
                      1998     5668972          3396671        241
                      1999     9304605          4797678        408
                      2000    12637478          5800146        420
                      2001    12476887          5202711        424
                      2002    13671116          5205286        430
                      2003     6362934          2203356        169
                      2004    15096202          4809721        406
                      2005    28311596          8220670        653
                      2006    33811223          9227763        734
                      2007    20074195          5017641        350
                      2008    37039059          8634665        656
                      2009    11204543          2410851        165
                      2010    49515152         10050223        833
                      2011    27613619          5228703        464
                      2012    35194793          6237302        517
                      2013    35004030          5837847        451
...                                ...              ...        ...
Winter Storm          2010  3726366502        756382066      61356
                      2011  3388424569        639910908      45300
                      2012  2050431824        363983248      32721
                      2013  4156737691        693699719      48299
                      2014  4986972133        795947398      49337
                      2015  4681785005        712722033      55702
                      2016  3249457853        477198609      39675
                      2017  3204970791        452624708      30551
Winter Weather        1996   155887237        127947137       8054
                      1997   299863993        200903845      16743
                      1998   279322721        166438154      14333
                      1999   426967500        221892661      14809
                      2000   250092673        114204010       9694
                      2001   353954514        149677462      13179
                      2002   231522727         87890633       8094
                      2003   944800061        325094058      23932
                      2004  1076861475        341289723      25602
                      2005  1426075595        412440547      30967
                      2006  1161917587        313344897      26510
                      2007  2721034206        678987460      47144
                      2008  3333610911        774709218      64318
                      2009  2747869958        593474748      43022
                      2010  4159596223        845430255      61373
                      2011  3901298097        738049643      49733
                      2012  3172325069        563777252      47341
                      2013  5624002507        939893431      75173
                      2014  5804450641        929482242      65916
                      2015  5596565312        854775441      63557
                      2016  4001191278        587880253      43361
                      2017  4008392869        565985464      39201

                            BEGIN_TIME  END_YEARMONTH  END_DAY  END_TIME  \
EVENT_TYPE            year
Astronomical Low Tide 1997        5000         998515       35      7000
                      2007       65390       12242844      731     77290
                      2008       44510        8835367      564     57008
                      2009       61375        8237194      618     41355
                      2010       42383        8040133      517     41078
                      2011       40150        5630861      542     39090
                      2012       59344       10261494     1187     46069
                      2013       32356        5636549      449     32956
                      2014       69315       12486912      868     69809
                      2015       59595       16120197     1213     85162
                      2016       27440        9273987      829     36884
                      2017       15130        2622142      274     15730
Avalanche             1996        5000        1397237      108      7364
                      1997        3830         798819       27      6364
                      1998       20580        3396671      241     22396
                      1999       29830        4797678      410     39961
                      2000       33097        5800146      444     38396
                      2001       29665        5202711      428     40373
                      2002       30540        5205286      432     38819
                      2003       12245        2203356      170     12825
                      2004       31214        4809721      407     31901
                      2005       49565        8220670      672     49098
                      2006       49917        9227763      737     59997
                      2007       33942        5017641      354     33954
                      2008       52496        8634665      667     57411
                      2009       12700        2410851      166     14707
                      2010       61696       10050223      839     62872
                      2011       28782        5228703      466     32326
                      2012       36167        6237302      518     37236
                      2013       36681        5837847      453     38144
...                                ...            ...      ...       ...
Winter Storm          2010     4046160      756382066    65218   4674568
                      2011     3352907      639910908    47702   4053883
                      2012     2189544      363983248    34384   2136678
                      2013     3955399      693699719    51468   4318963
                      2014     4471931      795947398    52676   4421842
                      2015     3886656      712722033    58249   4222649
                      2016     2518839      477198609    42018   2861484
                      2017     2475361      452624708    32801   2772795
Winter Weather        1996      689090      127947137     8274    829801
                      1997     1130240      200903645    17229   1299578
                      1998      879793      166438154    14809    993092
                      1999     1161511      221892661    15392   1375487
                      2000      617380      114204010     9891    725110
                      2001      656979      149677462    13487    834809
                      2002      394529       87890633     8208    608548
                      2003     1720102      325094058    24701   2169078
                      2004     1686122      341289723    26475   2148444
                      2005     2219995      412440547    31948   2672012
                      2006     1716469      313344897    27316   2006575
                      2007     3803981      678987460    48836   4411563
                      2008     3776401      774709218    65919   4869779
                      2009     3295855      593474748    44853   3369606
                      2010     4759167      845430255    64271   5062735
                      2011     3950752      738049643    51677   4349268
                      2012     3074135      563777252    48736   3431587
                      2013     5203943      939893431    77413   5769392
                      2014     4980259      929482242    68259   5524466
                      2015     4527113      854775441    65702   5207627
                      2016     2999214      587880253    44819   3519983
                      2017     2883737      565985464    40572   3408568

                              EPISODE_ID     EVENT_ID  STATE_FIPS     YEAR  \
EVENT_TYPE            year
Astronomical Low Tide 1997  1.031241e+07     27998994       146.0     9985
                      2007  1.607170e+05      1098960      1833.0   122427
                      2008  6.481930e+05      3863175      1205.0    88352
                      2009  1.239105e+06      7281665      1186.0    82369
                      2010  1.519910e+06      8910664      1161.0    80400
                      2011  1.326601e+06      7888650       875.0    56308
                      2012  3.251420e+06     19782588      1384.0   102612
                      2013  2.092905e+06     12658988       780.0    56364

In [105]:
after2000_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1051786 entries, 412335 to 1464120
Data columns (total 53 columns):
Unnamed: 0            1051786 non-null int64
BEGIN_YEARMONTH       1051786 non-null int64
BEGIN_DAY             1051786 non-null int64
BEGIN_TIME            1051786 non-null int64
END_YEARMONTH         1051786 non-null int64
END_DAY               1051786 non-null int64
END_TIME              1051786 non-null int64
EPISODE_ID            1051786 non-null float64
EVENT_ID              1051786 non-null int64
STATE                 1051785 non-null object
STATE_FIPS            1051785 non-null float64
YEAR                  1051786 non-null int64
MONTH_NAME            1051786 non-null object
EVENT_TYPE            1051786 non-null object
CZ_TYPE               1051786 non-null object
CZ_FIPS               1051786 non-null int64
CZ_NAME               1051786 non-null object
WFO                   1051786 non-null object
BEGIN_DATE_TIME       1051786 non-null object
CZ_TIMEZONE           1051786 non-null object
END_DATE_TIME         1051786 non-null object
INJURIES_DIRECT       1051786 non-null int64
INJURIES_INDIRECT     1051786 non-null int64
DEATHS_DIRECT         1051786 non-null int64
DEATHS_INDIRECT       1051786 non-null int64
DAMAGE_PROPERTY       687955 non-null object
DAMAGE_CROPS          612671 non-null object
SOURCE                1051786 non-null object
MAGNITUDE             562058 non-null float64
MAGNITUDE_TYPE        333372 non-null object
FLOOD_CAUSE           67035 non-null object
CATEGORY              266 non-null float64
TOR_F_SCALE           24848 non-null object
TOR_LENGTH            24848 non-null float64
TOR_WIDTH             24848 non-null float64
TOR_OTHER_WFO         1950 non-null object
TOR_OTHER_CZ_STATE    1950 non-null object
TOR_OTHER_CZ_FIPS     1950 non-null float64
TOR_OTHER_CZ_NAME     1950 non-null object
BEGIN_RANGE           525865 non-null float64
BEGIN_AZIMUTH         525865 non-null object
BEGIN_LOCATION        669897 non-null object
END_RANGE             525873 non-null float64
END_AZIMUTH           525873 non-null object
END_LOCATION          669911 non-null object
BEGIN_LAT             629962 non-null float64
BEGIN_LON             629963 non-null float64
END_LAT               629962 non-null float64
END_LON               629963 non-null float64
EPISODE_NARRATIVE     874716 non-null object
EVENT_NARRATIVE       611579 non-null object
DATA_SOURCE           1051786 non-null object
year                  1051786 non-null int64
dtypes: float64(13), int64(15), object(25)
memory usage: 433.3+ MB

In [60]:
after2000_df=full_df[full_df["year"]>1999]

In [103]:
list(after2000_df[['year','DEATHS_DIRECT']].groupby('year').sum()['DEATHS_DIRECT'])

[477,
 469,
 498,
 443,
 370,
 1451,
 607,
 523,
 571,
 374,
 491,
 1096,
 537,
 448,
 388,
 536,
 463,
 543]

In [88]:
after2000_df[after2000_df['year']==2005]

        Unnamed: 0  BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  \
669518      669518           200501          4        1800         200501
669519      669519           200501          4        1800         200501
669520      669520           200501          1         500         200501
669521      669521           200501          1         500         200501
669522      669522           200501          8        1600         200501
669523      669523           200501          6         500         200501
669524      669524           200501         23         500         200501
669525      669525           200501         23         200         200501
669526      669526           200501         22        2250         200501
669527      669527           200501         23         300         200501
669528      669528           200501          6         500         200501
669529      669529           200501         29        1200         200501
669530      669530           200503         30        1942         200503
669531      669531           200501         30         100         200501
669532      669532           200501         22          15         200501
669533      669533           200501         22          15         200501
669534      669534           200501         12        1715         200501
669535      669535           200501          4        1800         200501
669536      669536           200501         29        1200         200501
669537      669537           200501         30         100         200501
669538      669538           200501         22         200         200501
669539      669539           200501         22         200         200501
669540      669540           200501         22          15         200501
669541      669541           200501          6         500         200501
669542      669542           200501         15         800         200501
669543      669543           200501         22         200         200501
669544      669544           200501          5        2200         200501
669545      669545           200501          5         930         200501
669546      669546           200501         22         200         200501
669547      669547           200501          6        1500         200501
...            ...              ...        ...         ...            ...
723464      723464           200509          3        1344         200509
723465      723465           200511          1        1932         200511
723466      723466           200511         18         500         200511
723467      723467           200511         18         500         200511
723468      723468           200511         18         500         200511
723469      723469           200511         18         500         200511
723470      723470           200511         18        1600         200511
723471      723471           200511         18        1619         200511
723472      723472           200512         23         225         200512
723473      723473           200512         23         512         200512
723474      723474           200512         23         902         200512
723475      723475           200505         19        1400         200505
723476      723476           200506          6        1445         200506
723477      723477           200507         15        2109         200507
723478      723478           200507         15        1806         200507
723479      723479           200507         15        2044         200507
723480      723480           200507         15        2115         200507
723481      723481           200507         15        2117         200507
723482      723482           200507         15        2120         200507
723483      723483           200508          9        2000         200508
723484      723484           200511         18         500         200511
723485      723485           200504          9        1630         200504
723486      723486           200508          9        1954         200508
723487      723487           200508         19        2220         200508
723488      723488           200508         19        2230         200508
723489      723489           200503          6        1410         200503
723490      723490           200510         18        1145         200510
723491      723491           200508         28           0         200608
723492      723492           200508         28           0         200608
723493      723493           200508         28           0         200608

        END_DAY  END_TIME  EPISODE_ID  EVENT_ID          STATE  STATE_FIPS  \
669518        5       500   1183593.0   5433896       NEBRASKA        31.0
669519        5       500   1183593.0   5433897       NEBRASKA        31.0
669520        1      1000   1183594.0   5433898        MONTANA        30.0
669521        1      1000   1183594.0   5433899        MONTANA        30.0
669522        8      1900   1183595.0   5433900        MONTANA        30.0
669523        6      1600   1183708.0   5433333      WISCONSIN        55.0
669524       23       500   1183542.0   5433260       VIRGINIA        51.0
669525       23       200   1183542.0   5433261       VIRGINIA        51.0
669526       23      2250   1183542.0   5433262       VIRGINIA        51.0
669527       23       300   1183542.0   5433263       VIRGINIA        51.0
669528        6      1600   1183708.0   5433334      WISCONSIN        55.0
669529       30       658   1183544.0   5433269       VIRGINIA        51.0
669530       30      1947   1178386.0   5433517       ILLINOIS        17.0
669531       30       658   1183544.0   5433276       VIRGINIA        51.0
669532       22       900   1183087.0   5433735           IOWA        19.0
669533       22       900   1183087.0   5433736           IOWA        19.0
669534       12      1715   1183592.0   5433894          TEXAS        48.0
669535        5       500   1183593.0   5433895       NEBRASKA        31.0
669536       30       658   1183544.0   5433270       VIRGINIA        51.0
669537       30       658   1183544.0   5433271       VIRGINIA        51.0
669538       23         0   1183709.0   5433431      WISCONSIN        55.0
669539       23         0   1183709.0   5433430      WISCONSIN        55.0
669540       22       900   1183087.0   5433723           IOWA        19.0
669541        6      1600   1183708.0   5433336      WISCONSIN        55.0
669542       18      2000   1183737.0   5433699          IDAHO        16.0
669543       23         0   1183709.0   5433353      WISCONSIN        55.0
669544        8      1100   1183802.0   5433210  WEST VIRGINIA        54.0
669545        8      1430   1183803.0   5433211  WEST VIRGINIA        54.0
669546       23         0   1183709.0   5433423      WISCONSIN        55.0
669547        8      1200   1183731.0   5433683          IDAHO        16.0
...         ...       ...         ...       ...            ...         ...
723464        3      1344   1220484.0   5530826        MONTANA        30.0
723465        1      1932   1220485.0   5530827        MONTANA        30.0
723466       18      1444   1220486.0   5530828        MONTANA        30.0
723467       18      1444   1220486.0   5530829        MONTANA        30.0
723468       18      1444   1220486.0   5530830        MONTANA        30.0
723469       18      1444   1220486.0   5530832        MONTANA        30.0
723470       18      1600   1220487.0   5530833        WYOMING        56.0
723471       18      1619   1220488.0   5530834        WYOMING        56.0
723472       23       225   1220489.0   5530835        MONTANA        30.0
723473       23       512   1220490.0   5530836        WYOMING        56.0
723474       23       902   1220491.0   5530837        WYOMING        56.0
723475       19      1400   1220479.0   5530729        MONTANA        30.0
723476        6      1445   1220480.0   5530730        WYOMING        56.0
723477       15      2109   1220481.0   5530818        MONTANA        30.0
723478       15      1806   1220481.0   5530816        MONTANA        30.0
723479       15      2044   1220481.0   5530817        MONTANA        30.0
723480       15      2115   1220481.0   5530819        MONTANA        30.0
723481       15      2117   1220481.0   5530820        MONTANA        30.0
723482       15      2120   1220481.0   5530821        MONTANA        30.0
723483        9      2000   1220482.0   5530822        MONTANA        30.0
723484       18      1444   1220486.0   5530831        MONTANA        30.0
723485        9      2350   1220478.0   5530727        MONTANA        30.0
723486        9      1954   1221465.0   5533328           IOWA        19.0
723487       19      2220   1221466.0   5533329           IOWA        19.0
723488       19      2230   1221466.0   5533330           IOWA        19.0
723489        6      1510   1220476.0   5532449        MONTANA        30.0
723490       18      1150   1217452.0   5527141        ARIZONA         4.0
723491       13      2359   1219533.0   5528146          TEXAS        48.0
723492       13      2359   1219533.0   5528147          TEXAS        48.0
723493       13      2359   1219533.0   5528161          TEXAS        48.0

        YEAR MONTH_NAME         EVENT_TYPE CZ_TYPE  CZ_FIPS  \
669518  2005    January         Heavy Snow       Z       54
669519  2005    January         Heavy Snow       Z       19
669520  2005    January         Heavy Snow       Z       32
669521  2005    January         Heavy Snow       Z       64
669522  2005    January         Heavy Snow       Z       67
669523  20

In [84]:
after2000_df.groupby(["year"]).sum()

       Unnamed: 0  BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  \
year
2000  22796644366      10401730359     780606    66044948    10401730459
2001  23889073625       9780181368     729182    63500076     9780181368
2002  27438433692      10197699809     755331    65935926    10197699809
2003  31277428758      10607405071     742581    71461033    10607405171
2004  33715391017      10503082791     827963    71322446    10503082791
2005  37594580868      10822522536     814129    71844056    10822524836
2006  42395513400      11314180105     840848    75161776    11314180105
2007  47762605485      11843672246     825264    73269361    11843672246
2008  62255548215      14295371047    1052055    92545609    14295371047
2009  53884811915      11531604953     854781    75545431    11531604954
2010  62734507374      12623999395     997401    81443759    12623999395
2011  84614794531      15905647907    1167853   100143534    15905647907
2012  73639075914      12978411703     915753    77782490    12978411703
2013  72214861770      12075341489     920314    73791222    12075341489
2014  75140390255      11976581264     846839    74599038    11976581264
2015  76409229498      11644627304     882544    75334522    11644627304
2016  77235361387      11290554842     863476    72342044    11290554842
2017  81816297245      11495202549     858080    75785618    11495202549

      END_DAY   END_TIME    EPISODE_ID      EVENT_ID  STATE_FIPS       YEAR  \
year
2000   878558   78531866  5.806829e+10  267975480767   1589231.0  104014000
2001   808461   73660056  5.461080e+10  256691408270   1456009.0   97798875
2002   839493   75414693  5.832731e+10  270057807612   1617647.0  101973872
2003   787431   76912495  6.179826e+10  283518507078   1716856.0  106070868
2004   859816   76851134  6.169885e+10  283350987997   1671002.0  105027636
2005   876602   79642503  6.439094e+10  294699970447   1704541.0  108221880
2006   934707   86887440  5.885728e+10  267654515704   1797782.0  113138400
2007   952501   87233743  4.092388e+08    2347932600   1881173.0  118433070
2008  1126040  102233508  1.318864e+09    7751974964   2200960.0  142949520
2009   910306   82136115  1.723532e+09   10134389293   1783847.0  115312582
2010  1070565   91206030  2.580047e+09   15077336389   1981331.0  126236040
2011  1355845  120235054  4.162559e+09   24878856986   2496582.0  159052001
2012  1148022  101230997  4.194161e+09   25200173822   2086735.0  129780036
2013  1090515   89639226  4.536603e+09   27393398041   1993384.0  120749805
2014   949344   85628774  5.117394e+09   30901666815   1947788.0  119762510
2015   940733   81808179  5.587797e+09   33607967477   1912235.0  116442820
2016   938597   80915606  5.994284e+09   35919921692   1880642.0  112902048
2017   908348   82432284  6.644417e+09   39902670840   1886252.0  114948830

      CZ_FIPS  INJURIES_DIRECT  INJURIES_INDIRECT  DEATHS_DIRECT  \
year
2000  4022551             2803                  0            477
2001  3846861             2721                  0            469
2002  4576707             3155                  0            498
2003  4838268             2931                  0            443
2004  4977530             2426                  0            370
2005  4544146             1834                  0           1451
2006  5087641             3485                602            607
2007  5248831             3688                817            523
2008  6375221             2905               3615            571
2009  5503782             1875                961            374
2010  5731519             2374                860            491
2011  7705493             8859               1039           1096
2012  6522643             2652                633            537
2013  5719814             2767               1503            448
2014  5739669             2205                773            388
2015  6026759             2174                692            536
2016  5799924             1281                281            463
2017  6014330             1208                758            543

      DEATHS_INDIRECT   MAGNITUDE  CATEGORY  TOR_LENGTH  TOR_WIDTH  \
year
2000                0   547274.77       0.0     2628.10   93801.20
2001                0   577639.03       0.0     3666.30  139545.60
2002                0   647025.88       0.0     2593.80  118484.30
2003                0   921020.77       0.0     4434.60  166231.40
2004                0   883590.76       0.0     4895.40  192510.80
2005                0   883190.10       0.0     3657.80  121405.00
2006               52  1029580.97       0.0     4451.34  138635.50
2007              190   900676.00      49.0     3658.45  190856.00
2008              255  1251406.27      80.0     6377.20  331104.00
2009              185   992974.51       4.0     3111.75  180877.07
2010              186  1106585.82       2.0     4340.82  252873.67
2011              240  1462022.57      16.0     8339.81  504953.97
2012              170  1205111.30      37.0     3375.67  158172.20
2013              144   991654.57       6.0     3098.26  191845.80
2014              169  1017417.62       6.0     3063.29  186123.00
2015              165   998954.25      21.0     3799.34  221868.00
2016              204  1139007.57      34.0     2741.30  189244.20
2017              233  1215891.37     111.0     5215.59  352620.00

      TOR_OTHER_CZ_FIPS  BEGIN_RANGE  END_RANGE     BEGIN_LAT     BEGIN_LON  \
year
2000                0.0      59838.0    59857.0  9.343493e+05 -2.379402e+06
2001                0.0      68405.0    68374.0  9.750157e+05 -2.452332e+06
2002                0.0      70016.0    70044.0  1.019061e+06 -2.631000e+06
2003                0.0      73880.0    74687.0  1.035603e+06 -2.681269e+06
2004                0.0      85218.0    86026.0  1.034264e+06 -2.697189e+06
2005                0.0      90980.0    91680.0  1.261505e+06 -3.285973e+06
2006             1331.0      88518.0    89009.0  1.290756e+06 -3.466946e+06
2007            17103.0      92284.0    94438.0  1.363147e+06 -3.252515e+06
2008            28757.0     108523.0   110436.0  1.781092e+06 -4.204439e+06
2009            12003.0      92839.0    93734.0  1.394587e+06 -3.407332e+06
2010            14216.0      94296.0    95402.0  1.495615e+06 -3.512415e+06
2011            36597.0     113222.0   115125.0  1.988386e+06 -4.642283e+06
2012            11821.0      84470.0    85014.0  1.430557e+06 -3.395105e+06
2013            14573.0      90345.0    92034.0  1.357903e+06 -3.232297e+06
2014            13227.0      88867.0    89923.0  1.302774e+06 -3.120747e+06
2015            16379.0      94073.0    95737.0  1.388566e+06 -3.401240e+06
2016            11235.0      94072.0    95223.0  1.374582e+06 -3.298943e+06
2017            27352.0      92412.0    93773.0  1.480540e+06 -3.557319e+06

           END_LAT       END_LON
year
2000  9.343474e+05 -2.369327e+06
2001  9.750315e+05 -2.453403e+06
2002  1.019057e+06 -2.627297e+06
2003  1.035600e+06 -2.683332e+06
2004  1.034279e+06 -2.703716e+06
2005  1.261546e+06 -3.277232e+06
2006  1.290732e+06 -3.460069e+06
2007  1.363117e+06 -3.252214e+06
2008  1.780965e+06 -4.204051e+06
2009  1.394355e+06 -3.406987e+06
2010  1.495440e+06 -3.512085e+06
2011  1.988252e+06 -4.641670e+06
2012  1.430520e+06 -3.394921e+06
2013  1.357794e+06 -3.232078e+06
2014  1.302695e+06 -3.120510e+06
2015  1.388489e+06 -3.401006e+06
2016  1.374496e+06 -3.298729e+06
2017  1.480473e+06 -3.557077e+06

In [76]:
heat_df=full_df[full_df["EVENT_TYPE"]=='Cold/Wind Chill']

In [79]:
heat_df=full_df[full_df["EVENT_TYPE"]=='Excessive Heat']

In [87]:
heat_df.groupby(["year"]).count()['INJURIES_DIRECT']

year
2000     378
2001     100
2002     243
2007     488
2008     147
2009     146
2010    1240
2011    1698
2012    1156
2013     208
2014      83
2015     325
2016     555
2017     260
Name: INJURIES_DIRECT, dtype: int64

In [86]:
list(heat_df.groupby(["year"]).count()['INJURIES_DIRECT'])

[378, 100, 243, 488, 147, 146, 1240, 1698, 1156, 208, 83, 325, 555, 260]

In [78]:
list(heat_df.groupby(["year"]).count()['DEATHS_DIRECT'][4:])

[236,
 127,
 154,
 390,
 1064,
 583,
 345,
 454,
 523,
 436,
 344,
 195,
 56,
 459,
 1146,
 925,
 181,
 285]

In [63]:
list(after2000_df.groupby(["year"])['END_DAY'].count())

[52007,
 48875,
 50936,
 52956,
 52409,
 53976,
 56400,
 59010,
 71190,
 57398,
 62804,
 79091,
 64503,
 59985,
 59465,
 57788,
 56003,
 56990]

In [62]:
list(after2000_df.groupby(["year"]).sum()['DEATHS_DIRECT'])

[477,
 469,
 498,
 443,
 370,
 1451,
 607,
 523,
 571,
 374,
 491,
 1096,
 537,
 448,
 388,
 536,
 463,
 543]

In [28]:
totalevent=list(full_df.groupby(["year"]).count()['Unnamed: 0'])

In [37]:
[log2(x) for x in totalevent]

[11.46454575033394,
 10.733862719678543,
 11.092757140919852,
 11.11178773580101,
 10.824163209744158,
 10.925554439873554,
 11.133142212400601,
 11.222191138456333,
 10.94251450533924,
 11.197216693110052,
 11.469133019829592,
 11.221587121264806,
 11.39231742277876,
 11.693486957499324,
 11.514714054138487,
 11.650603022215309,
 11.761135649828645,
 11.084144010615145,
 12.120561896442904,
 12.392049039364185,
 12.280480810318373,
 11.879583249612784,
 11.86418614465428,
 11.836444911341369,
 12.06305796362349,
 12.583082767502933,
 12.141149198437516,
 12.798876768133299,
 13.022714573044759,
 12.840581250560753,
 12.961992230928898,
 13.090939415984376,
 12.82515755470108,
 13.345266626007538,
 13.417984334068308,
 13.611485943240922,
 13.724300673209568,
 13.080817527608327,
 13.931753222471858,
 14.320589035863657,
 15.567510510372582,
 15.35779252537568,
 15.637445644657681,
 15.501308514435303,
 15.666418198680407,
 15.57680908196944,
 15.636398048883837,
 15.692506532697143,
 15.677526961167816,
 15.720030446498972,
 15.783407542173519,
 15.848671837887048,
 16.119386980802467,
 15.80871284745475,
 15.938568827143877,
 16.27122591503009,
 15.977078640619801,
 15.872314161418648,
 15.859753154129187,
 15.81848231971713,
 15.773216491883904,
 15.798421172228954]

In [4]:
full_df.head()

,Unnamed: 0,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,0,195509,22,1610,195509,22,1610,NaN,10063685,MISSOURI,...,0.0,NaN,NaN,38.70,-94.08,NaN,NaN,NaN,NaN,PUB
1,1,195505,28,800,195505,28,800,NaN,10039446,MICHIGAN,...,0.0,NaN,NaN,42.12,-85.63,42.42,-85.05,NaN,NaN,PUB
2,2,195506,10,1500,195506,10,1500,NaN,9976778,ALABAMA,...,0.0,NaN,NaN,33.00,-86.78,NaN,NaN,NaN,NaN,PUB
3,3,195507,19,1330,195507,19,1330,NaN,9976779,ALABAMA,...,0.0,NaN,NaN,30.50,-87.90,NaN,NaN,NaN,NaN,PUB
4,4,195507,28,1500,195507,28,1500,NaN,9976780,ALABAMA,...,0.0,NaN,NaN,33.58,-86.78,NaN,NaN,NaN,NaN,PUB

In [5]:
full_df['BEGIN_YEARMONTH']

0          195509
1          195505
2          195506
3          195507
4          195507
5          195510
6          195510
7          195510
8          195510
9          195510
10         195510
11         195504
12         195509
13         195511
14         195506
15         195505
16         195503
17         195505
18         195505
19         195507
20         195506
21         195503
22         195503
23         195503
24         195503
25         195503
26         195503
27         195503
28         195503
29         195503
            ...
1464091    201707
1464092    201707
1464093    201707
1464094    201707
1464095    201707
1464096    201707
1464097    201706
1464098    201706
1464099    201706
1464100    201707
1464101    201707
1464102    201707
1464103    201707
1464104    201704
1464105    201703
1464106    201706
1464107    201706
1464108    201707
1464109    201707
1464110    201707
1464111    201707
1464112    201706
1464113    201706
1464114    201706
1464115    201707
1464116    201707
1464117    201707
1464118    201707
1464119    201707
1464120    201701
Name: BEGIN_YEARMONTH, Length: 1464121, dtype: int64

In [23]:
df0=pd.DataFrame()

In [12]:
df1=pd.read_csv('StormEvents_details-ftp_v1.0_d1955_c20160223.csv')

In [33]:
df2.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [15]:
df2=pd.read_csv('StormEvents_details-ftp_v1.0_d1956_c20170717.csv')

In [13]:
df1.values

array([[195509, 22, 1610, ..., nan, nan, 'PUB'],
       [195505, 28, 800, ..., nan, nan, 'PUB'],
       [195506, 10, 1500, ..., nan, nan, 'PUB'],
       ...,
       [195505, 25, 1120, ..., nan, nan, 'PUB'],
       [195505, 25, 1720, ..., nan, nan, 'PUB'],
       [195511, 15, 1517, ..., nan, nan, 'PUB']], dtype=object)

In [25]:
len(np.vstack((df1.values,df0.values)))

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [19]:
df1.values+df2.values

ValueError: operands could not be broadcast together with shapes (1413,51) (1703,51)

In [44]:
full_df['BEGIN_YEARMONTH']=full_df['BEGIN_YEARMONTH'].astype(int)

In [6]:
full_df[full_df['BEGIN_YEARMONTH']>201100].to_csv('2011upto.csv')